<html>
    <head>
       <title>Ola's blog</title>
       </head>
    <body>
      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>

      {% for post in posts %}
          <div>
              <p>published: {{ post.published_date }}</p>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p>
          </div>
      {% endfor %}
      <div>
        <h1><a href="">Secretos de la vida</a></h1>
        <p>Cuerpo</p>
        <p>Un cuerpo fuerte, sano, acorde con tus estándares de belleza, es uno de los primeros
pasos para empezar a crear un estilo de vida extraordinario.</p>
      </div>

      <div>
        <h2><a href="">Recorre el Mundo</a></h2>
        <p>Publicado el 4 de Agosto</p
        <em>Recorrer el mundo es uno de los principales sueños
          de mucha gente. A todos nos gusta imaginarnos en
          parajes desconocidos, en países exóticos, en
          lugares extraordinarios.</em>
      </div>

       <div>
         <h3><a href="">Como ser Feliz</a></h3>
         <p>Cómo ser feliz no siempre se trata de lo que haces.
           De hecho, y muy a menudo, se trata de lo que dejas de
            hacer.
            Especialmente si implican estos hábitos que verás a
            continuación.</p>
       </div>

       <div>

           <p>Jamás abandonemos nuestros sueños, mientras creamos
             que podremos lograr nuestros sueños una y otra vez.</p>
           <p>It works!</p>
       </div>
      </body>
</html>
